---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Plans from '../components/Plans.astro';
---

<Layout title="Landing Page">
  <Header />
  <main>
    <Hero />
    <!-- <Plans /> -->
  </main>
  <Footer/>
</Layout>