<div class="collapse collapse-plus bg-[#161722] mb-3">
   <input type="radio" name="my-accordion-3" />
   <div class="collapse-title text-xl font-medium">1.¿Qué es ClickFlow y cómo puede ayudar a mi negocio?</div>
   <div class="collapse-content">
     <p>Es una herramienta de inteligencia artificial diseñada para automatizar interacciones con tus clientes en múltiples canales, como
       WhatsApp, Instagram, web y más. Mejora la eficiencia operativa, incrementa las ventas y asegura disponibilidad 24/7.</p>
   </div>
 </div>
 <div class="collapse collapse-plus bg-[#161722] mb-3">
   <input type="radio" name="my-accordion-3" />
   <div class="collapse-title text-xl font-medium">2.¿Cuánto cuesta implementar esta solución? </div>
   <div class="collapse-content">
     <p>Ofrecemos planes flexibles adaptados al tamaño y las necesidades de tu negocio. También ofrecemos soluciones y cotizaciones
       personalizadas. Agenda hoy tu demo gratuita.</p>
   </div>
 </div>
 <div class="collapse collapse-plus bg-[#161722] mb-3">
   <input type="radio" name="my-accordion-3" />
   <div class="collapse-title text-xl font-medium">3.¿Cuánto volumen de mensajes puede manejar el chatbot?</div>
   <div class="collapse-content">
     <p>Puede gestionar miles de conversaciones simultáneamente, sin interrupciones ni tiempos de espera, asegurando una experiencia
       fluida para cada cliente.</p>
   </div>
 </div>
 <div class="collapse collapse-plus bg-[#161722] mb-3">
   <input type="radio" name="my-accordion-3" />
   <div class="collapse-title text-xl font-medium">4.¿Qué tan personalizada es la experiencia para mis clientes?</div>
   <div class="collapse-content">
     <p>Nuestro chatbot “ClickFlow” adapta cada interacción a las necesidades y preferencias de tus clientes, utilizando datos en tiempo
       real para crear experiencias únicas y relevantes. </p>
   </div>
 </div>
 <div class="collapse collapse-plus bg-[#161722] mb-3">
   <input type="radio" name="my-accordion-3" />
   <div class="collapse-title text-xl font-medium">5.¿Puedo supervisar las interacciones del chatbot en tiempo real?</div>
   <div class="collapse-content">
     <p>í, nuestro CRM integrado te permite visualizar todas las conversaciones en un solo lugar, intervenir en tiempo real y garantizar
       una atención de alta calidad.</p>
   </div>
 </div>
 <div class="collapse collapse-plus bg-[#161722] mb-3">
   <input type="radio" name="my-accordion-3" />
   <div class="collapse-title text-xl font-medium">6.¿Qué archivos puede enviar ClickFlow ? </div>
   <div class="collapse-content">
     <p>Sí, ClickFlow puede compartir imágenes, videos, audios, links de pago y documentos relevantes para tus clientes, como catálogos o
       demostraciones de productos</p>
   </div>
 </div>
