---
import { Button } from "@nextui-org/react"
---
<footer class="py-20 bg-gray-950">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-4 text-white">Agenda tu Demo Gratis y</h2>
    <h2 class="text-3xl font-bold mb-8 text-white">Transforma tu Negocio Hoy</h2>

    <Button 
            as="a" 
            target="_blank"
            className='relative z-50'
            rel="noopener noreferrer" href="https://clickflow.efficore.cloud/registro" color="primary" client:visible>
            ¡Obtén tu Chatbot IA "ClickFlow" Ahora!
          </Button>

    <div class="border-t border-gray-600 w-full my-8"></div>

    <div class="flex justify-center gap-8 mb-12">
      <a href="/planes" class="text-white hover:text-primary-blue transition-colors">Planes</a>
      <a href="/blog" class="text-white hover:text-primary-blue transition-colors">Blogs</a>
    </div>

    <div class="mb-12">
      <img src="/logo-name.png" alt="Efficore" class="h-12 mx-auto mb-8" />
      <div class="flex justify-center gap-4">
        <a href="#" class="text-white hover:text-primary-blue transition-colors">
          <img src="/facebook.png" alt="Facebook" class="w-10 h-10" />
        </a>
        <a href="#" class="text-white hover:text-primary-blue transition-colors">
          <img src="/instagram.png" alt="Instagram" class="w-10 h-10" />
        </a>
        <a href="#" class="text-white hover:text-primary-blue transition-colors">
          <img src="/linkedin.png" alt="LinkedIn" class="w-10 h-10" />
        </a>
      </div>
    </div>

    <p class="text-gray-400">©2025 EffiCore - Todos los derechos reservados</p>
  </div>
</footer>